extends layout

block content
    script(type='text/javascript', src='/javascript/pictures.js')

    p Welcome to the #{title}
    p
        a(href='/') Home
    div(ng-app='picturesApp' ng-controller='PicturesController').wrap
        div(ng-repeat='picture in pictures track by $index')
            .box
                .colourBox
                    .boxInner
                        img(ng-src='/api/fileName?fileName={{picture}}')
